@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
.nav-bar{
  height: inherit;
  background-color: #7B76EB;
  border-radius: 12px;
}
.box-text{
  margin: 10px;
  overflow-y: auto;
  width: 500px;
  height: 80vh;
  border: 2px solid Black;
  border-radius: 10px;
}
.force-graph-2d{
  margin: 10px;
  width: 980px;
  height: 80vh;
  background-color: red;
}
.box-graph{
  overflow-y: auto;
  margin: 10px;
  width: 65%;
  height: 80vh;
  background-color: rgb(227, 207, 225);
  border-radius: 10px;
}
.bt-h1-1{
  width: 200px;
  height: 0px;
  margin: 40px;
}
.bt-h1-1:hover{
  color: #C517C2;
  text-decoration: underline;
}

.bt-h2-2{
  height: 0px;
  margin: 40px;
}
.bt-h2-2:hover{
  color: #C517C2;
  text-decoration: underline;
}

.Nhap h3, .Nhap p, .Chuc-nang h3, .Chuc-nang p {
  font-size: 20px;
  line-height: 60px;
}


.Nhap #nhapChu, .Chuc-nang #nhapChu {
  font-size: 20px;
  width: 220px;
  height: 42px;
  border: 2px solid Black;
  border-radius: 10px;
}
.Nhap #diem-ket-noi, .Chuc-nang #diem-ket-noi  {
  width: 20px;
  border: 2px solid Black;
  border-radius: 10px;
}

.Nhap Button , .Chuc-nang Button, .Ket-qua Button{
  margin-left: 270px;
  font-size: 25px;
  height: 40px;
  width: 180px;
  border-radius: 15px;
}
.Nhap Button:hover, .Chuc-nang Button:hover {
  background-color: #C517C2;
  color: white;
  }
  .Ket-qua {
    margin: 10px;
  }
  .chon:hover {
    margin-left: 10px;
    background-color: #9B76EB;
    border-radius: 10px;
  }
  .bi-bi-house:hover{
    color: #C517C2;
  }